/*section {
    display: flex;
    background: linear-gradient(57deg, #00C6A7, #1E4D92);
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

section {
    padding: 100px 11% 90px;
} */

.home {
    height: 100vh;
    width: 100%;
    background-image: url(../img/background.svg);
    background-color: #e3ffe6;
    background-size: cover;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.home-img img {
    width: 100%;
    height: auto;
}

.home-text h3 {
    font-size: 22px;
    font-weight: 500;
    color: var(--other-color);
}

.home-text h1 {
    font-size: var(--big-font);
    color: var(--text-color);
    line-height: 1.2;
    margin: 25px 0 45px;
}

.btn {
    display: inline-block;
    padding: 16px 30px;
    background: var(--text-color);
    color: var(--bg-color);
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 30px;
    transition: all .45s ease;
}

.btn:hover {
    letter-spacing: 2px;
    opacity: 0.8;
}